* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-bua.bua.lexc -text
/apertium-bua.bua.twol -text
/apertium-bua.pc.in -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text
