* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-bua.bua.lexc -text
/apertium-bua.bua.rlx -text
/apertium-bua.bua.twol -text
/apertium-bua.pc.in -text
/apertium-bua.post-bua.dix -text
/autogen.sh -text
/bua.prob -text svneol=unset#unset
/configure.ac -text
dev/countstems.sh -text
dev/merge-lemmas.py -text
/modes.xml -text
tests/N-acc.yaml -text
tests/N-dat.yaml -text
tests/N-gen.yaml -text
tests/N-nouns_n.yaml -text
tests/N-pl.yaml -text
tests/N-various_gt-norm.yaml -text
tests/NOTES -text
tests/refl.yaml -text
tests/run-twol-pairtests.sh -text
texts/puupankki/udtwenty.txt -text svneol=unset#application/octet-stream
texts/puupankki/udtwenty_annotated.txt -text
